<div class="user-container">
  <nb-card size="medium">
    <div class="pro-container">
      <img class="pro-img" src="{{ userImg }}" alt="Profile image" />
      <a href="#" class="pro-name"> {{ userName }} </a>
      <span class="mb-2 user-level">{{ userLevel }}</span>
    </div>

    <div *ngIf="postType === 'all' ">
      <button nbButton size="small" status="success" id="card-btn" #all>
        Genaral
      </button>
      <br />
      <button nbButton outline size="small" status="success" (click)="chnagePostType('my')" id="card-btn" #my>
        My Posts
      </button>
      <br />
      <button nbButton outline size="small" status="success" id="card-btn" (click)="chnagePostType('admin')" #admin>
        Admin Notes
      </button>
    </div>

    <div *ngIf="postType === 'my'">
      <button nbButton outline size="small" status="success" (click)="chnagePostType('all')" id="card-btn" #all>
        Genaral
      </button>
      <br />
      <button nbButton size="small" status="success" id="card-btn" #my>
        My Posts
      </button>
      <br />
      <button nbButton outline size="small" status="success" (click)="chnagePostType('admin')" id="card-btn" #admin>
        Admin Notes
      </button>
    </div>

    <div *ngIf="postType === 'admin' ">
      <button nbButton outline size="small" status="success" (click)="chnagePostType('all')" id="card-btn" #all>
        Genaral
      </button>
      <br />
      <button nbButton outline size="small" status="success" (click)="chnagePostType('my')" id="card-btn" #my>
        My Posts
      </button>
      <br />
      <button nbButton size="small" status="success" id="card-btn" #admin>
        Admin Notes
      </button>
    </div>
    
  </nb-card>
</div>