<nb-card
  accent="info"
  [nbSpinner]="processing"
  nbSpinnerStatus="primary"
  nbSpinnerSize="large"
>
  <nb-card-header class="card-header-content"
    >{{ 'create.title' | translate }}
  </nb-card-header>

  <nb-card-body>
    <form
      [formGroup]="this.demandadservice.buyerAdform"
      (ngSubmit)="createBuyerAd()"
    >
      <input type="hidden" formControlName="id" />
      <div class="row">
        <div class="col-sm-6">
          <label>{{ 'create.form.catogary' | translate }}</label>
          <div class="form-group">
            <nb-select
              fullWidth
              placeholder="{{ 'create.placeholder.catogary' | translate }}"
              formControlName="foodtype"
              (selectedChange)="retriveFoods()"
            >
              <nb-option *ngFor="let tfoods of Foodtypes" [value]="tfoods"
                >{{ tfoods }}
              </nb-option>
            </nb-select>
            <div
              *ngIf="attempted && formControls.foodtype.errors"
              class="text-danger"
            >
              <span *ngIf="formControls.foodtype.errors.required">{{
                'create.requred.catogary' | translate
              }}</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>{{ 'create.form.product' | translate }}</label>
            <nb-select
              fullWidth
              placeholder="{{ 'create.placeholder.product' | translate }}"
              formControlName="food"
            >
              <nb-option *ngFor="let f of relatedFoods" [value]="f">{{
                f
              }}</nb-option>
            </nb-select>
            <div
              *ngIf="attempted && !!formControls.food.errors"
              class="text-danger"
            >
              <span *ngIf="!!formControls.food.errors.required">{{
                'create.requred.product' | translate
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <label>{{ 'create.form.amount' | translate }}</label>
          <div class="form-group">
            <input
              type="text"
              nbInput
              fullWidth
              placeholder="{{ 'create.placeholder.amount' | translate }}"
              formControlName="expectedamount"
            />
            <div
              *ngIf="attempted && !!formControls.expectedamount.errors"
              class="text-danger"
            >
              <span *ngIf="!!formControls.expectedamount.errors.required">{{
                'create.requred.amount' | translate
              }}</span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>{{ 'create.form.unit' | translate }}</label>
            <input
              type="text"
              nbInput
              fullWidth
              placeholder="{{ 'create.placeholder.unit' | translate }}"
              formControlName="unit"
            />
            <div
              *ngIf="attempted && !!formControls.unit.errors"
              class="text-danger"
            >
              <span *ngIf="!!formControls.unit.errors.required">{{
                'create.requred.unit' | translate
              }}</span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label
              >{{ 'create.form.price' | translate }}<strong>(Rs)</strong></label
            >
            <input
              type="text"
              nbInput
              fullWidth
              placeholder="{{ 'create.placeholder.price' | translate }}"
              formControlName="priceperunit"
            />
            <div
              *ngIf="attempted && !!formControls.priceperunit.errors"
              class="text-danger"
            >
              <span *ngIf="!!formControls.priceperunit.errors.required">{{
                'create.requred.price' | translate
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>{{ 'create.form.description' | translate }}</label>
            <textarea
              nbInput
              fullWidth
              placeholder="{{ 'create.placeholder.description' | translate }}"
              formControlName="description"
            ></textarea>
            <div
              *ngIf="attempted && !!formControls.description.errors"
              class="text-danger"
            >
              <span *ngIf="!!formControls.description.errors.required"
                >{{ 'create.requred.description' | translate }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>{{ 'create.form.type' | translate }}</label>
            <nb-select
              fullWidth
              placeholder="{{ 'create.placeholder.type' | translate }}"
              formControlName="organic"
            >
              <nb-option value="Organic">Organic</nb-option>
              <nb-option value="Inorganic">Inorganic</nb-option>
            </nb-select>
            <div
              *ngIf="attempted && !!formControls.organic.errors"
              class="text-danger"
            >
              <span *ngIf="!!formControls.organic.errors.required">{{
                'create.requred.type' | translate
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>{{ 'create.form.deadline' | translate }}</label>
            <input
              nbInput
              fullWidth
              type="date"
              placeholder="Pick a date"
              formControlName="deadline"
            />
            <div
              *ngIf="attempted && !!formControls.deadline.errors"
              class="text-danger"
            >
              <span *ngIf="!!formControls.deadline.errors.required">
                Date is required</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <button type="submit" nbButton>
            {{ 'create.button.create' | translate }}
          </button>
          <button
            class="btn btn-primary"
            status="warning"
            [disabled]="demandadservice.buyerAdform.pristine"
            (click)="resetAd()"
            nbButton
          >
            {{ 'create.button.cancel' | translate }}
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
