<nb-card item>
  <nb-card-body>
    <div class="list-container">
      <div class="form-container">
        <form [formGroup]="discussionForm" novalidate (ngSubmit)="onCreate()">
          <label for="title" id="form-title">{{
            'fourm.title' | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="title"
            nbInput
            fullWidth
            fieldSize="small"
            status="primary"
            placeholder="{{ 'fourm.title' | translate }}"
          />
          <label for="description" id="form-title" style="margin-top: 20px;">
            {{ 'fourm.description' | translate }}
          </label>
          <textarea
            formControlName="des"
            nbInput
            fullWidth
            status="primary"
            style="font-size: 13px; height: 100px;"
            placeholder="{{ 'fourm.description' | translate }}"
          >
          </textarea>
          <div class="form-bottom-container">
            <nb-checkbox
              status="info"
              (change)="showFarmer = !showFarmer"
              [checked]="showFarmer"
            >
              {{ 'fourm.farmer' | translate }}
            </nb-checkbox>
            <nb-checkbox
              status="info"
              (change)="showBuyer = !showBuyer"
              [checked]="showBuyer"
              style="margin-left: 10px;"
            >
              {{ 'fourm.buyer' | translate }}
            </nb-checkbox>

            <ngx-dropzone
              (change)="onSelect($event)"
              class="dropzone"
              [expandable]="true"
            >
              <ngx-dropzone-label>{{
                'fourm.drop' | translate
              }}</ngx-dropzone-label>
              <ngx-dropzone-image-preview
                ngProjectAs="ngx-dropzone-preview"
                *ngFor="let image of images"
                [file]="image"
                [removable]="true"
                (removed)="onRemove(image)"
              >
                <ngx-dropzone-label
                  >{{ image.name }} ({{ image.type }})</ngx-dropzone-label
                >
              </ngx-dropzone-image-preview>
            </ngx-dropzone>

            <button
              nbButton
              shape="round"
              size="small"
              status="success"
              class="float-right"
              [disabled]="!discussionForm.valid"
              style="margin-top: 10px;"
            >
              {{ 'fourm.button1' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </nb-card-body>
</nb-card>
