<div class="Container">
  <div class="comment-item" *ngFor="let comment of comments">
    <br />
    <div>
      <b>{{ comment.userName }}</b
      >-
      <small>{{ comment.date | date: 'MMM d, h:mm:ss a' }}</small>
    </div>
    <div>
      <b> {{ 'comments.comment' | translate }}:</b> {{ comment.content }}
    </div>
    <!-- Section to edit a comment -->
    <button
      type="button"
      class="btn btn-outline-danger btn-sm"
      (click)="onDelete(comment.docId)"
    >
      {{ 'comments.button.delete' | translate }}
    </button>
  </div>
  <br />
  <div class="input-group mb-3">
    <!-- Edit to create a new comment -->
    <input
      type="text"
      class="container1"
      placeholder="Type your comment here"
      name="content"
      [(ngModel)]="content"
    />
    <div class="input-group-append"
    >
      <button 
      class="btn btn-primary"
      type="button" (click)="on(content)">
        {{ 'comments.button.comment' | translate }}
      </button>
    </div>
  </div>
</div>
