<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <nb-card accent="info" *ngIf="demandAd">
        <nb-card-header>
          <div class="card-header-content">
            <span class="text-left">
              {{'view.title'|translate}}
            </span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div class="container-fluid">
            <div class="row">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                    {{ demandAd.food }}
                    <span class="food-type">- {{ demandAd.foodtype }}</span>
                  </h5>
                  <p class="card-text">{{ demandAd.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    {{'list.ad.quantity'|translate}}  - {{ demandAd.expectedamount }}
                  </li>
                  <li class="list-group-item">
                    {{'list.ad.unit'|translate}} - Rs. {{ demandAd.priceperunit }}
                  </li>
                  <li class="list-group-item">
                    {{'list.ad.deadline'|translate}} - {{ demandAd.deadline }}
                  </li>
                </ul>
                <div class="card-body">
                  <div *ngIf="demandAd.owner; else elseBlock">
                    <a href="buyer-dashboard" class="previous"
                      >&laquo; Previous</a
                    >
                  </div>
                  <ng-template #elseBlock>
                    <a href="all-demand-ads" class="previous"
                      >&laquo; Previous</a
                    ></ng-template
                  >
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-6">
      <nb-card accent="info">
        <nb-card-header>
          <div class="card-header-content">
            <span class="text-left">
              {{'view.comment'|translate}}
            </span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <app-comment-buyer-ad></app-comment-buyer-ad>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
