<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <nb-card accent="info" *ngIf="demandAd">
        <nb-card-header>
          <div class="card-header-content">
            <span class="text-left">
              {{ 'view.title' | translate }}
            </span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div class="container-fluid">
            <div class="row">
              <div class="card">
                <h5 class="card-header">
                  {{ demandAd.food }}
                  <span class="food-type">- {{ demandAd.foodtype }}</span>
                </h5>

                <div class="card-body">
                  <!-- <h5 class="card-title">
                    {{ demandAd.food }}
                    <span class="food-type">- {{ demandAd.foodtype }}</span>
                  </h5> -->
                  <p class="card-text">{{ demandAd.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <strong>{{ 'list.ad.quantity' | translate }}</strong> -
                    {{ demandAd.expectedamount }}
                  </li>
                  <li class="list-group-item">
                    <strong> {{ 'list.ad.unit' | translate }}</strong> - Rs.
                    {{ demandAd.priceperunit }}
                  </li>
                  <li class="list-group-item">
                    <strong>{{ 'list.ad.deadline' | translate }}</strong> -
                    {{ demandAd.deadline }}
                  </li>
                </ul>

                <div class="card-body">
                  <div class="container">
                    <h6>
                      {{ 'list.ad.view' | translate }} : {{ demandAd.views }}
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-6">
      <nb-card accent="success">
        <nb-card-header>
          <div class="card-header-content">
            <span class="text-left">
              Advertisement onwer details
            </span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div class="column" *ngIf="adowner">
            <div class="card border-success">
              <img [src]="adowner.photoURL" class="card-img-top" />
              <div class="card-body">
                <h6 class="card-title">
                  {{ adowner.displayName }} - Farmer
                </h6>
                <p class="card-text">{{ adowner.email }}</p>
                <!-- <p class="card-text">Followers - {{ numOfFollowers }}</p> -->

              </div>
            </div>
          </div>
          <div class="column">
            <div class="card border-success">
    
            </div>
          </div>
        </nb-card-body>
      </nb-card>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <nb-card accent="info">
        <nb-card-header>
          <div class="card-header-content">
            <span class="text-left">
              {{ 'view.comment' | translate }}
            </span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <app-comment-buyer-ad></app-comment-buyer-ad>
        </nb-card-body>
      </nb-card>
    </div>
    </div>
</div>
