<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <nb-card accent="info" *ngIf="demandAd">
        <nb-card-header>
          <div class="card-header-content">
            <span class="text-left">
              {{ 'view.title' | translate }}
            </span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div class="container-fluid">
            <div class="row">
              <div class="card">
                <h5 class="card-header">
                  {{ demandAd.food }}
                  <span class="food-type">- {{ demandAd.foodtype }}</span>
                  <nb-badge
                  text="Active"
                  status="success"
                  position="top right"
                  *ngIf="demandAd.deadline > currentTime"
                >
                </nb-badge>
                  <nb-badge
                  text="Expired"
                  status="danger"
                  position="top right"
                  *ngIf="demandAd.deadline < currentTime"
                >
                </nb-badge>
                </h5>
                

                <div class="card-body">
                  <!-- <h5 class="card-title">
                    {{ demandAd.food }}
                    <span class="food-type">- {{ demandAd.foodtype }}</span>
                  </h5> -->
                  <p class="card-text">{{ demandAd.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <strong>{{ 'list.ad.quantity' | translate }}</strong> -
                    {{ demandAd.expectedamount }}{{demandAd.unit}}
                  </li>
                  <li class="list-group-item">
                    <strong> {{ 'list.ad.unit' | translate }}</strong> - Rs.
                    {{ demandAd.priceperunit }}
                  </li>
                  <li class="list-group-item">
                    <strong>{{ 'list.ad.deadline' | translate }}</strong> -
                    {{ demandAd.deadline }}
                  </li>
                  <li class="list-group-item">
                    <strong>{{ 'list.ad.tprice' | translate }}</strong> - Rs: 
                    {{ demandAd.expectedamount*demandAd.priceperunit  }}
                  </li>
                </ul>

                <div class="card-body">
                  
                  <div class="container">
                    <div class="row">
                    <div class="col-sm-3">
                    <h6>
                      {{ 'list.ad.view' | translate }} : {{ demandAd.views }}
                    </h6>
                  </div>
                  <div class="col-sm-9">
                   <strong>  {{ 'list.ad.date' | translate }} : {{demandAd.deadline}}</strong>
                  </div>
                  </div>
                  <div align="right" *ngIf="demandAd.deadline > currentTime">
                    <button nbButton [routerLink]="['agreement']">{{ 'list.ad.button' | translate }}</button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-6">
      <nb-card accent="success">
        <nb-card-header>
          <div class="card-header-content">
            <span class="text-left">
              {{ 'list.ad.title3' | translate }}
            </span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div class="column" *ngIf="adowner">
            <div class="card1 border-success">
              <img [src]="adowner.photoURL" class="card-img-top" />
              <div class="card-body">
                <h6 class="card-title">{{ adowner.displayName }} - Buyer</h6>
                <p class="card-text">{{ adowner.email }}</p>
              </div>
            </div>
          </div>
          <div class="column" *ngIf="userDetail">
            <div class="card border-success">

              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <strong> {{ 'list.ad.bname' | translate }}</strong> -
                  {{  userDetail.contact }}
                </li>
                <li class="list-group-item">
                  <strong>  {{ 'list.ad.bdistrict' | translate }}</strong> -
                {{  userDetail.district}}
                </li>
                <li class="list-group-item">
                  <strong>{{ 'list.ad.badress' | translate }}</strong> -
                  {{  userDetail.homeAddress }}
                </li>
                <!-- <li class="list-group-item">
                  <strong></strong> - Rs: 
                  {{ demandAd.expectedamount*demandAd.priceperunit  }}
                </li> -->
              </ul>

            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <nb-card accent="info">
        <nb-card-header>
          <div class="card-header-content">
            <span class="text-left">
              {{ 'view.comment' | translate }}
            </span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <app-comment-buyer-ad></app-comment-buyer-ad>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

