.logo {
  height: 3.2rem;
}

.logout-btn {
  margin-top: 6px;
}

.title {
  display: flex;
  align-items: center;
}

.header-row {
  flex-grow: 1;
}

.green {
  color: green;
}

.sidebar-btn {
  display: block;
  margin-bottom: 25px;
  cursor: pointer;
}

.sidebar-icon {
  font-size: 25px;
}

nb-user {
  cursor: pointer;
}
