<nb-layout>
  <nb-layout-header subheader>
    <div class="row header-row">
      <div class="col title">
        <img class="logo desktop" src="../../../assets/logo2.jpg" />
        <img class="logo mobile" src="../../../assets/logo3.png" />
      </div>
      <div class="lang-item" [nbContextMenu]="langMenu">
        <nb-icon class="header-icon" icon="globe-outline"></nb-icon
        ><span class="lang-text">Lang</span>
      </div>
      <div class="col-auto text-right align-middle" *ngIf="userDetails">
        <nb-user
          class="desktop"
          size="large"
          [name]="user.displayName"
          [title]="userDetails.userLevel"
          [picture]="user.photoURL"
          [nbContextMenu]="contextMenu"
        >
        </nb-user>
        <nb-user
          class="mobile"
          size="large"
          [name]="user.displayName"
          [title]="userDetails.userLevel"
          [picture]="user.photoURL"
          [nbContextMenu]="contextMenu"
          onlyPicture
        >
        </nb-user>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar state="compacted">
    <span
      class="sidebar-btn"
      routerLink="/farmer-dashboard"
      routerLinkActive="green"
      *ngIf="userDetails && userDetails.userLevel == 'Farmer'"
    >
      <nb-icon
        icon="home"
        class="sidebar-icon"
        nbTooltip="Farmer Dashboard"
        nbTooltipPlacement="right"
      ></nb-icon>
    </span>
    <span
      class="sidebar-btn"
      routerLink="/buyer-dashboard"
      routerLinkActive="green"
      *ngIf="userDetails && userDetails.userLevel == 'Buyer'"
    >
      <nb-icon
        icon="home"
        class="sidebar-icon"
        nbTooltip="Buyer Dashboard"
        nbTooltipPlacement="right"
      ></nb-icon>
    </span>
    <span
      class="sidebar-btn"
      routerLink="/admin-panel"
      routerLinkActive="green"
      *ngIf="userDetails && userDetails.userLevel == 'Administrator'"
    >
      <nb-icon
        icon="home"
        class="sidebar-icon"
        nbTooltip="Admin Panel"
        nbTooltipPlacement="right"
      ></nb-icon>
    </span>
    <span
      class="sidebar-btn"
      routerLink="/search-supply-ads"
      routerLinkActive="green"
      *ngIf="userDetails && userDetails.userLevel == 'Buyer'"
    >
      <nb-icon
        icon="search-outline"
        class="sidebar-icon"
        nbTooltip="Search Ads"
        nbTooltipPlacement="right"
      ></nb-icon>
    </span>
    <span
      class="sidebar-btn"
      routerLink="/buyer-dashboard/all-demand-ads"
      routerLinkActive="green"
      *ngIf="userDetails && userDetails.userLevel == 'Farmer'"
    >
      <nb-icon
        icon="search-outline"
        class="sidebar-icon"
        nbTooltip="Search Ads"
        nbTooltipPlacement="right"
      ></nb-icon>
    </span>
    <span class="sidebar-btn" routerLink="/chats" routerLinkActive="green">
      <nb-icon
        icon="message-circle-outline"
        class="sidebar-icon"
        nbTooltip="Chat"
        nbTooltipPlacement="right"
      ></nb-icon>
    </span>
    <span class="sidebar-btn" routerLink="/forum" routerLinkActive="green">
      <nb-icon
        icon="people-outline"
        class="sidebar-icon"
        nbTooltip="Forum"
        nbTooltipPlacement="right"
      ></nb-icon>
    </span>
    <span
      class="sidebar-btn"
      routerLink="/notifications"
      routerLinkActive="green"
    >
      <nb-icon
        *ngIf="notificationCount == 0"
        icon="bell-outline"
        class="sidebar-icon"
        nbTooltip="Notifications"
        nbTooltipPlacement="right"
      >
      </nb-icon>
      <nb-icon
        *ngIf="notificationCount != 0"
        icon="bell"
        class="sidebar-icon"
        nbTooltip="Notifications"
        nbTooltipPlacement="right"
      >
      </nb-icon>
    </span>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    copyrights
  </nb-layout-footer>
</nb-layout>
