.logo {
  height: 3.2rem;
}

.title {
  display: flex;
  align-items: center;
}

.header-row {
  flex-grow: 1;
}

.green {
  color: green;
}

.sidebar-btn {
  display: block;
  margin-bottom: 25px;
  cursor: pointer;
}

.sidebar-icon {
  font-size: 25px;
}

.lang-item {
  margin-top: 8px;
  margin-right: 6px;
}

nb-user {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .lang-text {
    font-size: 20px;
    display: none;
  }
  
  .header-icon {
    font-size: 25px;
  }
}

@media only screen and (min-width: 769px) {
  /* For mobile phones: */
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .header-icon {
    font-size: 35px;
  }
  
  .lang-text {
    font-size: 25px;
    display: inline;
  }
}