<nb-card accent="warning" [nbSpinner]="processing">
  <nb-card-header>
    <div class="card-header-content">
      <span class="text-left">
        Your Current Advertisments
      </span>
      <span class="text-right">
        <div class="col">
          <nb-select
            multiple
            (selectedChange)="onFilterActiveAds($event)"
            placeholder="Filter By Foods"
          >
            <nb-option
              *ngFor="let category of farmersAdCategories"
              [value]="category"
              >{{ category }}</nb-option
            >
          </nb-select>
        </div>
      </span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-sm-4"
          *ngFor="let supplyAd of filteredActiveSupplyAdList"
        >
          <div class="card">
            <ngb-carousel>
              <ng-template ngbSlide *ngFor="let image of supplyAd.images">
                <div class="picsum-img-wrapper">
                  <img [src]="image" class="card-img-top" />
                </div>
              </ng-template>
            </ngb-carousel>
            <nb-badge
              text="Organic"
              status="success"
              position="top right"
              *ngIf="supplyAd.organic == 'Organic'"
            >
            </nb-badge>
            <nb-badge
              text="Expired"
              status="danger"
              position="top left"
              *ngIf="supplyAd.expireDate < currentTime"
            >
            </nb-badge>
            <div class="card-body">
              <h5 class="card-title">
                {{ supplyAd.food }}
                <span class="food-type">- {{ supplyAd.type }}</span>
              </h5>
              <p class="card-text">{{ supplyAd.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Quantity - {{ supplyAd.quantity }} {{ supplyAd.quantityUnit }}
              </li>
              <li class="list-group-item">
                Price per unit - Rs. {{ supplyAd.pricePerUnit }}
              </li>
              <li class="list-group-item">
                Total - Rs. {{ supplyAd.pricePerUnit * supplyAd.quantity }}
              </li>
            </ul>
            <div class="card-body">
              <button
                class="btn btn-success btn-sm"
                (click)="markAsSold(supplyAd.id)"
              >
                Mark As Sold
              </button>
              <button
                class="btn btn-primary btn-sm"
                [routerLink]="['/view-supply-ad', supplyAd.id]"
              >
                Comment
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                appConfirmButton
                (confirmed)="deleteAd(supplyAd.id)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card accent="success">
  <nb-card-header>
    <div class="card-header-content">
      <span class="text-left">
        Your Sold Products' Advertisments
      </span>
      <span class="text-right">
        <div class="col">
          <nb-select
            multiple
            (selectedChange)="onFilterSoldAds($event)"
            placeholder="Filter By Foods"
          >
            <nb-option
              *ngFor="let category of farmersAdCategories"
              [value]="category"
              >{{ category }}</nb-option
            >
          </nb-select>
        </div>
      </span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4" *ngFor="let supplyAd of filteredSoldSupplyAdList">
          <div class="card">
            <ngb-carousel>
              <ng-template ngbSlide *ngFor="let image of supplyAd.images">
                <div class="picsum-img-wrapper">
                  <img [src]="image" class="card-img-top" />
                </div>
              </ng-template>
            </ngb-carousel>
            <nb-badge
              text="Organic"
              status="success"
              position="top right"
              *ngIf="supplyAd.organic == 'Organic'"
            >
            </nb-badge>
            <div class="card-body">
              <h5 class="card-title">
                {{ supplyAd.food }}
                <span class="food-type">- {{ supplyAd.type }}</span>
              </h5>
              <p class="card-text">{{ supplyAd.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Quantity - {{ supplyAd.quantity }} {{ supplyAd.quantityUnit }}
              </li>
              <li class="list-group-item">
                Price per unit - Rs. {{ supplyAd.pricePerUnit }}
              </li>
              <li class="list-group-item">
                Total - Rs. {{ supplyAd.pricePerUnit * supplyAd.quantity }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card accent="danger">
  <nb-card-header>
    <div class="card-header-content">
      <span class="text-left">
        Your Deleted Advertisments
      </span>
      <span class="text-right">
        <div class="col">
          <nb-select
            multiple
            (selectedChange)="onFilterDeletedAds($event)"
            placeholder="Filter By Foods"
          >
            <nb-option
              *ngFor="let category of farmersAdCategories"
              [value]="category"
              >{{ category }}</nb-option
            >
          </nb-select>
        </div>
      </span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-sm-4"
          *ngFor="let supplyAd of filteredDeletedSupplyAdList"
        >
          <div class="card">
            <ngb-carousel>
              <ng-template ngbSlide *ngFor="let image of supplyAd.images">
                <div class="picsum-img-wrapper">
                  <img [src]="image" class="card-img-top" />
                </div>
              </ng-template>
            </ngb-carousel>
            <nb-badge
              text="Organic"
              status="success"
              position="top right"
              *ngIf="supplyAd.organic == 'Organic'"
            >
            </nb-badge>
            <div class="card-body">
              <h5 class="card-title">
                {{ supplyAd.food }}
                <span class="food-type">- {{ supplyAd.type }}</span>
              </h5>
              <p class="card-text">{{ supplyAd.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Quantity - {{ supplyAd.quantity }} {{ supplyAd.quantityUnit }}
              </li>
              <li class="list-group-item">
                Price per unit - Rs. {{ supplyAd.pricePerUnit }}
              </li>
              <li class="list-group-item">
                Total - Rs. {{ supplyAd.pricePerUnit * supplyAd.quantity }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
