nb-card nb-icon {
  float: right;
  font-size: 2rem;
}
nb-list {
  margin-top: 20px;
  overflow-x: hidden;
}
button-filled-basic-background-color {
  background-color: #edf1f7;
}
nb-list nb-list-item {
  margin: -0.5rem -0.5rem;
  padding: 10px;
}
#farmerList {
  padding: 15px;
}
#buyerList {
  padding: 15px;
}
nb-list nb-list-item button {
  width: 600px;
}

ul {
  list-style-type: none;
  width: 100%;
  margin-top: 0px;
  padding: 0;
  align-items: baseline;
}
ul li {
  width: 100%;
  padding: 0px;
  color: #0b0c0e;
  align-items: baseline;
}
#sid {
  margin-top: auto;
  margin-left: 10px;
  text-align: right;
  border-radius: 25px;
  width: 400px;
  float: right;
  padding: 0px 0px;
}
#rid {
  margin-top: auto;
  margin-left: 10px;
  border-radius: 25px;
  width: 400px;
  padding: 0px 0px;
}
#rcontent {
  margin-top: 1px;
  margin-left: 10px;
  border-radius: 25px;
  padding: 5px 5px;
  max-width: 300px;
  word-break: break-all;
  text-align: left;
  background-color: #8b999c;
}
#scontent {
  margin-top: auto;
  margin-left: 10px;
  border-radius: 25px;
  padding: 5px 5px;
  max-width: 300px;
  word-break: break-all;
  text-align: left;
}
#stime {
  text-align: left;
}
#rtime {
  text-align: right;
}
#image {
  border-radius: 5%;
}
#avatar {
  float: left;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.msg_card_body {
  width: 800px;
  height: 400px;
  overflow-y: auto;
}
.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
  width: 700px;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#delete i {
  height: 5px;
  padding: 0px;
}
#delete {
  height: 30px;
}
#S button {
  color: #162df7;
}
#fileInput {
  display: none;
}
#icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
