<div id="A">
  <nb-layout>
    <nb-sidebar>
      <nb-list>
        <nb-list-item *ngFor="let u of users | async">
          <button
            class="btn btn-default"
            status="basic"
            (click)="UserClicked(u)"
            *ngIf="user.uid != u.uid"
          >
            <nb-user [name]="u.displayName" [picture]="u.photoURL"></nb-user>
          </button>
        </nb-list-item>
      </nb-list>
    </nb-sidebar>

    <nb-layout-column>
      <nb-card>
        <nb-card-body>
          <nb-user [name]="selectedUser" [picture]="avatar"></nb-user>
        </nb-card-body>
      </nb-card>

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="card-body msg_card_body">
              <ul *ngFor="let msg of messages | async">
                <li (click)="getPost(msg.id)">
                  <div
                    id="sid"
                    *ngIf="msg.sid == this.currentId"
                    class="d-flex justify-content-end mb-6"
                  >
                    <div
                      *ngIf="msg.type == 'text'"
                      id="scontent"
                      class="p-3 mb-2 bg-primary text-white"
                    >
                      {{ msg.content }} <br>
                      <button style="float:right"
                      nbButton
                      outline
                      status="danger"
                      size="tiny"
                      class="delete-btn"
                      (click)="deleteChat(msg.id)"
                    >
                      Delete
                    </button>
                    <!-- <button
                      nbButton
                      outline
                      status="danger"
                      size="tiny"
                      class="delete-btn"
                      (click)="EditChat(msg.id)"
                    >
                      Edit
                    </button>
                    <div *ngIf = "editState">
                      <form (ngSubmit) = "UpdateChat(msg)">
                        <input type="text" placeholder = "msg.content" [(ngModel)]="msg.content" name ="content">
                        <input type="submit" value="Submit" class="btn">
                      </form>
                    </div> -->
                    </div>
                    <div
                      *ngIf="msg.type != 'text'"
                      class="p-3 mb-2 bg-light text-white"
                    >
                      <img
                        id="image"
                        src="{{ msg.url }}"
                        style="max-width:350px;"
                      /><button
                      nbButton
                      outline
                      status="danger"
                      size="tiny"
                      class="delete-btn"
                      (click)="deleteChat()"
                    >
                      Delete
                    </button>
                    </div>

                    <p id="rtime">{{ msg.time | date: 'h:mm a ' }}</p>
                  </div>

                  <div
                    id="rid"
                    *ngIf="msg.sid != this.currentId"
                    class="d-flex justify-content-start mb-6"
                  >
                    <img src="{{ avatar }}" alt="Avatar" class="avatar" />
                    <div
                      *ngIf="msg.type == 'text'"
                      id="rcontent"
                      class="p-3 mb-2 bg-light text-dark"
                    >
                      {{ msg.content }}
                    </div>
                    <div
                      *ngIf="msg.type != 'text'"
                      class="p-3 mb-2 bg-light text-white"
                    >
                      <img
                        id="image"
                        src="{{ msg.url }}"
                        style="max-width:350px;"
                      />
                    </div>

                    <p id="rtime">{{ msg.time | date: 'h:mm a ' }}</p>
                  </div>
                </li>
              </ul>
            </div>

            <div class="input-group" style="width:900px;">
              <input
                type="text"
                [(ngModel)]="content"
                class="form-control"
                placeholder="Type a message"
              />
              <span
                class="msg_send_btn"
                class="input-group-addon btn btn-primary"
                (click)="sendMessage($event)"
                ><i class="fa fa-paper-plane" aria-hidden="true"></i
              ></span>
            </div>

            <input
              type="file"
              (change)="uploadFile($event)"
              accept=".png,.jpg"
            />
          </div>
        </div>
      </div>
    </nb-layout-column>
  </nb-layout>
</div>
