nb-sidebar {
  width: 400px;
 // background-color: rgb(195, 241, 202);
}
nb-card {
  width: 1200px;
  background-color: #9bb3b8;
}
nb-card nb-icon {
  float: right;
  font-size: 2rem;
  margin-left: 50px;
 // color: blue;
}

nb-layout-column nb-card {
//  background-color: rgb(71, 211, 106);
}
nb-list {
  width: 400px;
}
button-filled-basic-background-color {
  background-color:	#edf1f7;
  
}
nb-list nb-list-item {
  width: 400px;
}
ul {
  list-style-type:none;
 // width:100%;
  margin:0;padding:0;
}
ul li {
//  background-color:#f8f9fc;
 // padding:10px;
 // margin-bottom:5px;
  color:#0b0c0e;
 // width: 1000px;
 // border-radius: 50%;
}
#sid {
  text-align: right;
  background-color: #dedfe2;
  border-radius: 20px;
  width: 600px;
  float: right;
  margin-bottom:5px;
  padding:10px 10px;
}
#rid {
  text-align: left;
  background-color: #94adf0;
  border-radius: 20px;
  width: 600px;
  float: left;
  margin-bottom:5px;
  padding:10px 10px;
}
#stime {
  text-align: left;
}
#rtime{
  text-align: right;
}
#image {
  border-radius: 5%;
}
#avatar {
  float: left;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}
.card{
  height: 500px;
  border-radius: 15px !important;
  background-color: rgba(0,0,0,0.4) !important;
}
.msg_card_body{
  width: 1100px;
  height: 600px;
  overflow-y: auto;
 
}
.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}


