<div class="main-container">
  <div class="vl"></div>
  <div class="card-cantainer">
    <nb-accordion>
      <nb-accordion-item autoCollapse="true">
        <nb-accordion-item-header #commentSection>
          <div class="vote-container">
            <nb-icon icon="arrow-ios-upward-outline" status="primary"></nb-icon>
            <p class="count-react">{{reactCount}}</p>
            <nb-icon icon="arrow-ios-downward-outline" status="primary"> </nb-icon>
            <div *ngIf="!isPostOwner">
              <nb-icon *ngIf="isBest" icon="done-all-outline" status="primary"
                nbTooltip="The post owner accepted this as the best answer" nbTooltipPlacement="bottom"
                nbTooltipStatus="info">
              </nb-icon>
            </div>
            <div *ngIf="isPostOwner">
              <nb-icon *ngIf="isBest" (click)="changeState(true)" icon="done-all-outline" status="primary"
                nbTooltip="You marked this as the best answer" nbTooltipPlacement="top" nbTooltipStatus="info">
              </nb-icon>
              <nb-icon *ngIf="!isBest" (click)="changeState(false)" icon="done-all-outline" status="basic"
                nbTooltip="Click to mark as the best answer" nbTooltipPlacement="top" nbTooltipStatus="info"></nb-icon>
            </div>
          </div>
          <div class="comnt-container">
            <div class="pro-img-container">
              <img class="pro-img" src="{{ comment.userImage }}" alt="Profile image" />
              <div class="pro-header-container">
                <div class="user-detail">
                  <a href="#" class="pro-name">
                    {{ comment.userName }}
                  </a>
                  <span *ngIf="isEnd" class="badge badge-pill badge-success">This comment was end</span>
                </div>
                <span class="text-info" id="postDate">
                  <b>Commented on</b>
                  <i>
                    {{ comment.date.toDate() | date: 'MMM d, y h:mm:ss a' }}
                  </i>
                </span>
                <div class="float-right like-container">
                  <button (click)="changeReactState(true)" (click)="toggelSection()" *ngIf="isReact" nbButton ghost
                    status=" success" size="medium" class="float-right btn-like">
                    <nb-icon icon="heart" status="primary"></nb-icon>
                  </button>
                  <button (click)="changeReactState(false)" (click)="toggelSection()" *ngIf="!isReact" nbButton ghost
                    status=" success" size="medium" class="float-right btn-like">
                    <nb-icon icon="heart-outline" status="primary"></nb-icon>
                  </button>
                  <p class="count-like">{{reactCount}}</p>
                  <button nbButton ghost status="info" size="medium" class="float-right btn-com">
                    <nb-icon icon="email"></nb-icon>
                  </button>
                  <p class="count-rep">{{ repCount }}</p>
                </div>
              </div>
            </div>
            <p class="text-dark" id="postCommnt">{{ comment.comment }}</p>

            <div class="card-fotter-container">
              <button nbButton status="primary" size="tiny" class="edit-btn" [hidden]="!isLogUser"
                (click)="updateComment()" (click)="toggelSection()">
                {{ isEdit ? 'Cancel' : 'edit' }}
              </button>
              <button nbButton status="danger" size="tiny" class="end-btn" [hidden]="!isLogUser"
                (click)="endOrViewComment()" (click)="toggelSection()">
                {{ isEnd ? 'Restart' : 'End' }}
              </button>
              <button nbButton outline status="danger" size="tiny" class="delete-btn" [hidden]="!isLogUser"
                [nbPopover]="confirmDeleteSecton" nbPopoverPlacement="bottom" (click)="toggelSection()">
                Delete
              </button>

              <ng-template #confirmDeleteSecton>
                <nb-card style="margin-bottom: -10%;">
                  <nb-card-body>
                    Are you sure you wish to delete this post?
                    <button nbButton shape="round" status="danger" size="tiny" [hidden]="!isLogUser"
                      (click)="deleteComments()" style="margin-left: 10px;">
                      yes
                    </button>
                    <button nbButton shape="round" status="danger" size="tiny" [hidden]="!isLogUser"
                      style="margin-left: 10px;" (click)="hidePopover()">
                      No
                    </button>
                  </nb-card-body>
                </nb-card>
              </ng-template>
            </div>

            <form *ngIf="isEdit" [formGroup]="updateCommentForm" novalidate (ngSubmit)="onUpdate()"
              #updateCommform="ngForm">
              <hr>
              <div class="update-comment">
                <textarea class="form-control" formControlName="upComment" nbInput fullWidth status="primary" required
                  style="height: 80px; font-size: 13px;">
                </textarea>
                <button nbButton status="primary" outline size="small" class="float-right update-btn" size="small">
                  Update
                </button>
              </div>
              <hr>
            </form>
          </div>

        </nb-accordion-item-header>
        <nb-accordion-item-body *ngIf="!isEdit" class="reply-container">
          <form *ngIf="!isReply" [formGroup]="replyForm" novalidate (ngSubmit)="onCreate()" #replyform="ngForm">
            <div class="add-reply">
              <textarea class="form-control" formControlName="reply" nbInput fullWidth placeholder="Leave a reply..."
                status="primary" required style="height: 40px;" [disabled]="isEnd">
              </textarea>
              <button nbButton status="primary" outline size="small" class="float-right reply-btn" size="small"
                [disabled]="isEnd">
                Reply
              </button>
            </div>
          </form>
          <hr />
          <div>
            <p class="reply-title" *ngIf="repCount != 0">Replies</p>
            <div *ngFor="let replyItem of replies">
              <app-reply *ngIf="!isEdit" [replyItem]="replyItem" (isReply)="isReply=$event"
                (changeReplyCount)="getReplyCount()"></app-reply>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>