.main-container {
  display: flex;
  flex-direction: row;
}
.vl {
  margin-left: 20px;
  border-left: 1px solid blueviolet;
}
nb-accordion {
  width: 750px;
  max-height: inherit;
}
.vote-container {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.comnt-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.pro-img-container {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: -3%;
}
.pro-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.pro-header-container {
  display: flex;
  flex-direction: column;
}
.pro-name {
  margin-top: 10px;
  font-size: 15px;
  margin-left: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.badge {
  margin-left: 5px;
  height: 18px;
}
#postDate {
  margin-top: -2%;
  font-size: 12px;
  margin-left: 30px;
  color: #598bff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.like-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 20px;
}
.btn-like {
  margin-left: 10px;
}
.count-like {
  margin-top: 15px;
  margin-left: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: orangered;
}
.count-react {
  margin-left: 5px;
  margin-top: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: orangered;
}
.btn-com {
  margin-left: 30px;
}
.count-rep {
  margin-top: 15px;
  margin-right: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: blueviolet;
}
#postCommnt {
  margin-top: 10px;
  margin-right: 25px;
  margin-left: 10px;
  font-size: 13px;
}
.add-reply {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.card-cantainer {
  overflow: hidden;
  height: auto;
  transition: all 1s;
}
.reply-btn {
  margin-top: 8px;
  margin-left: 30px;
}
.reply-titel {
  margin-top: 10px;
}
.reply-container {
  max-height: 700px;
  overflow-y: scroll;
}
.card-fotter-container {
  display: flex;
  flex-direction: row;
}
.edit-btn,
.end-btn,
.delete-btn {
  margin-top: 5px;
  font-size: 15px;
  margin-left: 20px;
  height: 25px;
}
.reply-title {
  margin-left: 25px;
  font-weight: 600;
  color: #aa7070;
}

.update-comment {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 30px;
}
.update-btn {
  height: 30px;
  margin-top: 50px;
  margin-left: 30px;
}
