<div class="main-container">
  <div class="vl"></div>
  <div class="card-cantainer">
    <nb-accordion>
      <nb-accordion-item autoCollapse="true">
        <nb-accordion-item-header>
          <div class="comnt-container">
            <div class="pro-img-container">
              <img class="pro-img" src="{{ comment.userImage }}" alt="Profile image" />
              <div class="pro-header-container">
                <div class="user-detail">
                  <a href="#" class="pro-name">
                    {{ comment.userName }}
                  </a>
                  <span *ngIf="isEnd" class="badge badge-pill badge-success">This comment was end</span>
                </div>
                <span class="text-info" id="postDate">
                  <b>Commented on</b>
                  <i>
                    {{ comment.date.toDate() | date: 'MMM d, y h:mm:ss a' }}
                  </i>
                </span>
                <div class="float-right like-container">
                  <button nbButton ghost status="success" size="medium" class="float-right btn-like">
                    <nb-icon icon="checkmark"></nb-icon>
                  </button>
                  <p class="count-like">6</p>
                  <button nbButton ghost status="info" size="medium" class="float-right btn-com">
                    <nb-icon icon="email"></nb-icon>
                  </button>
                  <p class="count-rep">{{ repCount }}</p>
                </div>
              </div>
            </div>
            <p class="text-dark" id="postCommnt">{{ comment.comment }}</p>
            <div class="card-fotter-container">
              <button nbButton status="primary" size="tiny" class="edit-btn" [hidden]="!isLogUser">
                Edit
              </button>
              <button nbButton status="danger" size="tiny" class="end-btn" [hidden]="!isLogUser"
                (click)="endOrViewComment()">
                {{ isEnd ? 'Restart' : 'End' }}
              </button>
              <button nbButton outline status="danger" size="tiny" class="delete-btn" [hidden]="!isLogUser"
                [nbPopover]="confirmDeleteSecton" nbPopoverPlacement="bottom">
                Delete
              </button>

              <ng-template #confirmDeleteSecton>
                <nb-card style="margin-bottom: -10%;">
                  <nb-card-body>
                    Are you sure you wish to delete this post?
                    <button nbButton shape="round" status="danger" size="tiny" [hidden]="!isLogUser"
                      (click)="deleteComments()" style="margin-left: 10px;">
                      yes
                    </button>
                    <button nbButton shape="round" status="danger" size="tiny" [hidden]="!isLogUser"
                      style="margin-left: 10px;" (click)="hidePopover()">
                      No
                    </button>
                  </nb-card-body>
                </nb-card>
              </ng-template>

            </div>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body class="reply-container">
          <form [formGroup]="replyForm" novalidate (ngSubmit)="onCreate()" #commform="ngForm">
            <div class="add-reply">
              <textarea class="form-control" formControlName="reply" nbInput fullWidth placeholder="Leave a reply"
                status="primary" required style="height: 40px;" [disabled]="isEnd">
              </textarea>
              <button nbButton status="primary" outline size="small" class="float-right reply-btn" size="small"
                [disabled]="isEnd">
                Reply
              </button>
            </div>
          </form>
          <hr />
          <div>
            <p class="reply-title" *ngIf="repCount != 0">Replies</p>
            <div *ngFor="let reply of replies">
              <app-reply [reply]="reply" (changeReplyCount)="getReplyCount()"></app-reply>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>