.asterisk {
  color: red;
}

.user-level {
  font-size: 12px;
}

.card-img-top {
  border-radius: 50%;
  margin: auto;
  margin-top: 10px;
  max-width: 250px;
  height: auto;
}

agm-map {
  height: 300px;
}

.btn {
  margin-right: 5px;
}
