#ip2 {
  border-radius: 25px;
  border: 2px solid #609;
  padding: 20px;
  width: 350px;
  height: 8px;
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {
  padding: 10px 20px;
  background-color: #555555;
}

.container {
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 15px;
}

.container1 {
  // border-radius: 5px;
  border: 1px solid lightgray;
  width: 400px;
  padding: 18px;
}

.comment-item {
  margin-top: 5px;
}
