<div class="container" *ngIf="user">
  <div
    class="comment-item"
    *ngFor="let comment of cmt"
  >
    <br />
    <div>
      <b>{{ comment.userName }}</b
      >-
      <small>{{ comment.date | date: 'MMM d, h:mm:ss a' }}</small>
    </div>
    <div>
      <b> {{ 'comments.comment' | translate }}:</b> {{ comment.content }}
    </div>

    <!-- Buttons to delete and view reply of a comment -->
  
    
        <button
        type="button"
        class="btn btn-outline-danger btn-sm"
        (click)="onDelete(comment.docId)"
        *ngIf="comment.userName==user.displayName"
      
      >
        {{ 'comments.button.delete' | translate }}
      </button>
      
     
      <button
      type="button"
      class="btn btn-outline-info btn-sm"
      (click)="viewcReply = comment.docId; test(); getdocId(comment.docId)"
    >
      {{ 'comments.button.reply' | translate }}
    </button>
    <ng-template [ngIf]="viewcReply == comment.docId && viewcommentReply"
      ><div><app-reply [parentdocId]="parentdocId"></app-reply></div
    ></ng-template>
    
   
    
  </div>
  <br />

  <div class="input-group mb-3">
    <!-- Edit to create a new comment 
  <input type="hidden" class="comment" name="userName" value="adId">-->
    <input
      type="text"
      class="container1"
      placeholder="Type your comment here..."
      name="content"
      [(ngModel)]="comment.content"
    />
    <div class="input-group-append">
      <button 
       class="btn btn-primary"
       type="button"
       (click)="on(comment)">
        {{ 'comments.button.comment' | translate }}
      </button>
    </div>
  </div>
</div>
