<div class="container">
  <div
    class="comment-item"
    *ngFor="let comment of cmt | async; let idx = index"
  >
    <br />
    <div>
      <b>{{ comment.userName }}</b
      >-
      <small>{{ comment.date | date: 'MMM d, h:mm:ss a' }}</small>
    </div>
    <div><b> {{'comments.comment'|translate}}:</b> {{ comment.content }}</div>

    <!-- Buttons to delete and view reply of a comment -->
    <button
      type="button"
      class="btn btn-outline-danger btn-sm"
      (click)="onDelete(comment.docId)"
    >
    {{'comments.button.delete'|translate}}
    </button>
    <button
      type="button"
      class="btn btn-outline-info btn-sm"
      (click)="viewcReply = comment.docId; test(); getdocId(comment.docId)"
    >
    {{'comments.button.reply'|translate}}
    </button>
    <ng-template [ngIf]="viewcReply == comment.docId && viewcommentReply"
      ><div><app-reply [parentdocId]="parentdocId"></app-reply></div
    ></ng-template>
  </div>
  <br />

  <div class="editor">
    <!-- Edit to create a new comment 
  <input type="hidden" class="comment" name="userName" value="adId">-->
    <input
      type="text"
      class="comment"
      placeholder="Type your comment here..."
      name="content"
      [(ngModel)]="comment.content"
      id="ip2"
    />
    <div class="btns">
      <button class="button button1" (click)="on(comment)">
        {{'comments.button.comment'|translate}}
      </button>
    </div>
  </div>
</div>
