<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <nb-card accent="warning" *ngIf="supplyAd">
          <nb-card-header>
            <div class="card-header-content">
              <span class="text-left">
                Update Advertisment
              </span>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="card">
              <ngb-carousel>
                <ng-template ngbSlide *ngFor="let image of supplyAd.images">
                  <div class="picsum-img-wrapper">
                    <img [src]="image" class="card-img-top" />
                  </div>
                </ng-template>
              </ngb-carousel>
              <nb-badge
                text="Organic"
                status="success"
                position="top right"
                *ngIf="supplyAd.organic == 'Organic'"
              >
              </nb-badge>
              <nb-badge
                text="Expired"
                status="danger"
                position="top left"
                *ngIf="supplyAd.expireDate < currentTime"
              >
              </nb-badge>
              <div class="card-body">
                <h5 class="card-title">
                  {{ supplyAd.food }}
                  <span class="food-type">- {{ supplyAd.type }}</span>
                </h5>
                <p class="card-text">{{ supplyAd.description }}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Quantity - {{ supplyAd.quantity }} {{ supplyAd.quantityUnit }}
                </li>
                <li class="list-group-item">
                  Price per unit - Rs. {{ supplyAd.pricePerUnit }}
                </li>
                <li class="list-group-item">
                  Total - Rs. {{ supplyAd.pricePerUnit * supplyAd.quantity }}
                </li>
              </ul>
              <div class="card-body">
                <button
                  class="btn btn-success btn-sm"
                  (click)="markAsSold(supplyAd.id)"
                >
                  Mark As Sold
                </button>
                <button class="btn btn-primary btn-sm">
                  Update
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  appConfirmButton
                  (confirmed)="deleteAd(supplyAd.id)"
                >
                  Delete
                </button>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
  
      <div class="col-sm-6">
        <nb-card accent="info" *ngIf="supplyAd">
          <nb-card-header>
            <div class="card-header-content">
              <span class="text-left">
                Comments
              </span>
            </div>
          </nb-card-header>
          <nb-card-body>
            comment section is here
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>