<div class="row">
  <div class="col-sm-4">
    <nb-card accent="warning">
      <nb-card-header>
        <div class="card-header-content">
          <span class="text-left">
            Farmer's Ad Summary
          </span>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="chart-wrapper">
          <canvas
            baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [colors]="doughnutChartColors"
            [options]="chartOptions"
          >
          </canvas>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-4">
    <nb-card accent="warning">
      <nb-card-header>
        <div class="card-header-content">
          <span class="text-left">
            Farmer's Ad Categories
          </span>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="chart-wrapper">
          <canvas
            baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="chartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="barChartColors"
          >
          </canvas>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-4">
    <nb-card accent="warning">
      <nb-card-header>
        <div class="card-header-content">
          <span class="text-left">
            Farmar's Ratings
          </span>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="chart-wrapper">
          <canvas
            baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
          >
          </canvas>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
