nb-list nb-list-item {
  width: 600px;
  margin: -0.5rem -0.5rem;
  padding: 13px;
}
nb-list {
  margin-left: 100px;
}
h4 {
  margin-top: 20px;
  margin-left: 200px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(25, 37, 90);
}
#A {
  margin-left: 50%;
}
#B {
  margin-bottom: 50px;
  margin-left: 100px;
}
#C {
  width: 50%;
  margin-left: 300px;
}
#delete {
  margin-left: 500px;
}
