<div class="container-fluid" *ngIf="adOwnerUser && viewer">
  <div class="row">
    <div class="col-md-6">
      <nb-card
        accent="warning"
        *ngIf="
          supplyAd &&
          supplyAd.status == 'active' &&
          adOwnerUser.uid == viewer.uid
        "
        [nbSpinner]="processing"
        nbSpinnerStatus="primary"
        nbSpinnerSize="large"
      >
        <nb-card-header>
          <div class="card-header-content">
            <span class="text-left">
              {{ 'farmerv.title1' | translate }}
            </span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <form [formGroup]="supplyAdForm" (ngSubmit)="updateSupplyAd()">
            <div class="card">
              <ngb-carousel>
                <ng-template ngbSlide *ngFor="let image of supplyAd.images">
                  <div class="picsum-img-wrapper">
                    <img [src]="image" class="card-img-top" />
                  </div>
                </ng-template>
              </ngb-carousel>
              <nb-badge
                text="Organic"
                status="success"
                position="top right"
                *ngIf="supplyAd.organic == 'Organic'"
              >
              </nb-badge>
              <nb-badge
                text="Expired"
                status="danger"
                position="top left"
                *ngIf="supplyAd.expireDate < currentTime"
              >
              </nb-badge>
              <div class="card-body">
                <h5 class="card-title">
                  {{ supplyAd.food }}
                  <span class="food-type">- {{ supplyAd.type }}</span>
                </h5>
                <p class="card-text" *ngIf="adOwnerUser.uid != viewer.uid">
                  {{ supplyAd.description }}
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="form-group">
                    <label>{{ 'farmerv.form.description' | translate }}</label>
                    <textarea
                      nbInput
                      fullWidth
                      formControlName="description"
                      placeholder="Short description about the harvest or agro product"
                    ></textarea>
                    <div
                      *ngIf="attempted && !!formControls.description.errors"
                      class="text-danger"
                    >
                      <span *ngIf="!!formControls.description.errors.required"
                        >{{ 'farmerv.required.description' | translate }}
                      </span>
                    </div>
                  </div>
                </li>
                <li
                  class="list-group-item"
                  *ngIf="adOwnerUser.uid == viewer.uid"
                >
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>{{ 'farmerv.form.quentity' | translate }}</label>
                        <input
                          type="text"
                          nbInput
                          fullWidth
                          formControlName="quantity"
                          placeholder="{{
                            'farmerv.placeholder.amount' | translate
                          }}"
                        />
                        <div
                          *ngIf="attempted && !!formControls.quantity.errors"
                          class="text-danger"
                        >
                          <span
                            *ngIf="!!formControls.quantity.errors.required"
                            >{{ 'farmerv.required.amount' | translate }}</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>{{ 'farmerv.form.unit' | translate }}</label>
                        <input
                          type="text"
                          nbInput
                          fullWidth
                          formControlName="quantityUnit"
                          placeholder="{{
                            'farmerv.placeholder.unit' | translate
                          }}"
                        />
                        <div
                          *ngIf="
                            attempted && !!formControls.quantityUnit.errors
                          "
                          class="text-danger"
                        >
                          <span
                            *ngIf="!!formControls.quantityUnit.errors.required"
                            >{{ 'farmerv.required.unit' | translate }}</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>{{ 'farmerv.form.price' | translate }}</label>
                        <input
                          type="text"
                          nbInput
                          fullWidth
                          formControlName="pricePerUnit"
                          placeholder="{{
                            'farmerv.placeholder.price' | translate
                          }}"
                        />
                        <div
                          *ngIf="
                            attempted && !!formControls.pricePerUnit.errors
                          "
                          class="text-danger"
                        >
                          <span
                            *ngIf="!!formControls.pricePerUnit.errors.required"
                            >{{ 'farmerv.required.price' | translate }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="form-group">
                    <label>{{ 'farmerv.form.deadline' | translate }}</label>
                    <input
                      nbInput
                      fullWidth
                      type="date"
                      placeholder="{{
                        'farmerv.placeholder.description' | translate
                      }}"
                      formControlName="expireDate"
                    />
                    <div
                      *ngIf="attempted && !!formControls.expireDate.errors"
                      class="text-danger"
                    >
                      <span *ngIf="!!formControls.expireDate.errors.required">{{
                        'farmerv.required.date' | translate
                      }}</span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  Published On -
                  {{ supplyAd.createdAt | date: 'MMM d, y h:mm:ss a' }}
                </li>
                <li class="list-group-item">Views - {{ supplyAd.views }}</li>
              </ul>
              <div class="card-body">
                <button type="submit" nbButton>
                  {{ 'farmerv.form.button' | translate }}
                </button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>

      <nb-card
        accent="warning"
        *ngIf="
          supplyAd &&
          (adOwnerUser.uid != viewer.uid || supplyAd.status == 'sold')
        "
        [nbSpinner]="processing"
        nbSpinnerStatus="primary"
        nbSpinnerSize="large"
      >
        <nb-card-header>
          <div class="card-header-content">
            <span class="text-left">
              Supply Advertisment
            </span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div class="card">
            <ngb-carousel>
              <ng-template ngbSlide *ngFor="let image of supplyAd.images">
                <div class="picsum-img-wrapper">
                  <img [src]="image" class="card-img-top" />
                </div>
              </ng-template>
            </ngb-carousel>
            <nb-badge
              text="Organic"
              status="success"
              position="top right"
              *ngIf="supplyAd.organic == 'Organic'"
            >
            </nb-badge>
            <nb-badge
              text="Expired"
              status="danger"
              position="top left"
              *ngIf="
                supplyAd.expireDate < currentTime && supplyAd.status == 'active'
              "
            >
            </nb-badge>
            <div class="card-body">
              <h5 class="card-title">
                {{ supplyAd.food }}
                <span class="food-type">- {{ supplyAd.type }}</span>
              </h5>
              <p class="card-text">
                {{ supplyAd.description }}
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Quantity - {{ supplyAd.quantity }} {{ supplyAd.quantityUnit }}
              </li>
              <li class="list-group-item">
                Total - Rs. {{ supplyAd.pricePerUnit * supplyAd.quantity }}
              </li>
              <li class="list-group-item">
                Expire Date - {{ supplyAd.expireDate }}
              </li>
              <li class="list-group-item">
                Published On -
                {{ supplyAd.createdAt | date: 'MMM d, y h:mm:ss a' }}
              </li>
              <li class="list-group-item">Views - {{ supplyAd.views }}</li>
            </ul>
            <div class="card-body" *ngIf="adOwnerUser.uid != viewer.uid">
              <button
                [routerLink]="['/profile', adOwnerUser.uid]"
                nbButton
                status="warning"
              >
                Contact Farmer
              </button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-6">
      <nb-card
        accent="success"
        [nbSpinner]="processingAgreement"
        nbSpinnerStatus="primary"
        nbSpinnerSize="large"
        *ngIf="supplyAd && supplyAd.status == 'active'"
      >
        <nb-card-header>
          <div class="card-header-content">
            <span class="text-left" *ngIf="adOwnerUser.uid == viewer.uid">
              {{ 'farmerv.title2' | translate }}
            </span>
            <span class="text-left" *ngIf="adOwnerUser.uid != viewer.uid">
              {{ 'farmerv.title3' | translate }}
            </span>
          </div>
        </nb-card-header>
        <!-- Listing buying requests for farmar -->
        <nb-card-body
          *ngIf="pendingAgreements && adOwnerUser.uid == viewer.uid"
        >
          <p *ngIf="pendingAgreements.length == 0">
            No any buying requests yet
          </p>
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item"
              *ngFor="let agreement of pendingAgreements"
            >
              <div class="row">
                <div class="col-sm-5">
                  <nb-user
                    [name]="agreement.buyer.displayName"
                    [picture]="agreement.buyer.photoURL"
                    [routerLink]="['/profile', agreement.buyer.uid]"
                  >
                  </nb-user>
                </div>
                <div class="col-sm-3">
                  need to buy for Rs.{{ agreement.agreementPrice }} on or before
                  {{ agreement.agreementDate }}
                </div>
                <div class="col-sm-4">
                  <button
                    class="btn btn-success"
                    type="button"
                    appConfirmButton
                    (confirmed)="
                      agreeToSell(agreement.agreementId, agreement.buyer.uid)
                    "
                  >
                    Agree To Sell
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </nb-card-body>
        <!-- Buy button (agreement request button) for buyers -->
        <nb-card-body
          *ngIf="adOwnerUser.uid != viewer.uid && isViewerAgreed == false"
        >
          <p>
            Tell the farmer that you need to buy this harvest/agro product for
            the <b>mentioned price</b> by clicking on <b>Agree To Buy</b> button
            <b>on or before the date, mentioned below</b>. If farmer also agree
            to sell this to you, then an online agreement will be generated
            automatically.
          </p>
          <div class="input-group mb-3">
            <input
              type="number"
              class="form-control"
              placeholder="Suggest a price"
              [(ngModel)]="agreementPrice"
            />
            <input
              type="date"
              class="form-control"
              placeholder="Buy on or before"
              [(ngModel)]="agreementDate"
            />
            <div class="input-group-append">
              <button
                class="btn btn-success"
                type="button"
                appConfirmButton
                (confirmed)="agreeToBuy()"
              >
                Agree To Buy
              </button>
            </div>
          </div>
        </nb-card-body>
        <!-- Cancel agreement button for buyers -->
        <nb-card-body
          *ngIf="adOwnerUser.uid != viewer.uid && isViewerAgreed == true"
        >
          <p>
            You have agreed to buy this harvest/agro product for Rs.{{
              viewersAgreement.agreementPrice
            }}
            on or before
            {{ viewersAgreement.agreementDate | date: 'MMM d, y' }}. You can
            cancel the agreement before farmer sign the agreement if you want
            to.
          </p>
          <button
            appConfirmButton
            (confirmed)="cancelPendingAgreement()"
            nbButton
            status="danger"
          >
            Cancel Agreement
          </button>
        </nb-card-body>
      </nb-card>
      <!-- Approved agreement details and rating -->
      <nb-card
        accent="success"
        [nbSpinner]="processingAgreement"
        nbSpinnerStatus="primary"
        nbSpinnerSize="large"
        *ngIf="supplyAd && supplyAd.status == 'sold' && approvedAgreement"
      >
        <nb-card-header>
          <div class="card-header-content">
            <span class="text-left">
              Agreement
            </span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-4">
              <nb-user
                [name]="approvedAgreement.buyer.displayName"
                [picture]="approvedAgreement.buyer.photoURL"
                [routerLink]="['/profile', approvedAgreement.buyer.uid]"
              ></nb-user>
            </div>
            <div class="col">
              agreed to buy this harvest for Rs.{{
                approvedAgreement.agreementPrice
              }}
              on or before
              {{ approvedAgreement.agreementDate | date: 'MMM d, y' }}
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-4">
              <nb-user
                [name]="adOwnerUser.displayName"
                [picture]="adOwnerUser.photoURL"
                [routerLink]="['/profile', adOwnerUser.uid]"
              ></nb-user>
            </div>
            <div class="col">
              accepted the above buyer's agreement and agreed to sell this
              harvest/agro product to him/her.
            </div>
          </div>

          <br />
          <br />
          <hr />
          <div class="rating" *ngIf="approvedAgreement.buyer.uid == viewer.uid">
            <h5>
              Rate This Harvest/ Agro Product
              <ngx-stars
                [maxStars]="5"
                [initialStars]="supplyAd.rating"
                color="gold"
                [size]="2"
                [wholeStars]="true"
                (ratingOutput)="onRateFarmer($event)"
              ></ngx-stars>
            </h5>
          </div>
          <div class="rating" *ngIf="adOwnerUser.uid == viewer.uid">
            <h5>
              Ratings You Got for This Ad
              <ngx-stars
                [maxStars]="5"
                [initialStars]="supplyAd.rating"
                color="gold"
                [size]="2"
                [wholeStars]="true"
                [readonly]="true"
              ></ngx-stars>
            </h5>
          </div>
        </nb-card-body>
      </nb-card>

      <!-- comment section -->
      <nb-card accent="info" *ngIf="supplyAd">
        <nb-card-header>
          <div class="card-header-content">
            <span class="text-left">
              {{ 'farmerv.title4' | translate }}
            </span>
          </div>
        </nb-card-header>
        <nb-card-body
          [nbSpinner]="processingComment"
          nbSpinnerStatus="primary"
          nbSpinnerSize="large"
        >
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let comment of adComments">
              <nb-user
                [name]="comment.user.displayName"
                [picture]="comment.user.photoURL"
                [routerLink]="['/profile', comment.user.uid]"
              >
              </nb-user>
              <span class="comment-text">{{ comment.content }}</span>
              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                *ngIf="viewer.uid == comment.user.uid"
                (click)="onDeleteComment(comment.commentId)"
              >
                Delete
              </button>
            </li>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="{{
                  'farmerv.placeholder.description2' | translate
                }}"
                [(ngModel)]="newComment"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="publishComment()"
                >
                  {{ 'farmerv.button2' | translate }}
                </button>
              </div>
            </div>
            <div
              *ngIf="attemptedComment && newComment == ''"
              class="text-danger"
            >
              {{ 'farmerv.title5' | translate }}
            </div>
          </ul>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
