.food-type {
  font-size: 12px;
}

nb-badge {
  font-size: 1rem;
}

.comment-text {
  display: block;
  margin-left: 48px;
}

nb-user {
  cursor: pointer;
}

button {
  float: right;
}

.rating {
  text-align: center;
}

ngx-stars {
  display: flex;
  justify-content: center;
}
