<div class="card-cantainer">
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header
        id="t-header"
        (click)="viewMore = !viewMore"
        *ngIf="item"
        #postSection
      >
        <div class="gold-members p-4 card-container">
          <div class="media">
            <div class="pro-img-container">
              <img
                class="pro-img"
                src="{{ item.userImage }}"
                alt="Profile image"
              />
              <div class="pro-header-container">
                <div class="user-detail">
                  <a href="#" class="pro-name">
                    {{ item.userName }}
                  </a>
                  <span *ngIf="isEnd" class="badge badge-pill badge-success"
                    >This post was end</span
                  >
                </div>
                <span class="text-info" id="postDate">
                  <b>Posted on</b>
                  <i> {{ item.date.toDate() | date: 'MMM d, y h:mm:ss a' }} </i>
                </span>
                <div class="float-right like-container">
                  <button
                    (click)="changeReactState(true)"
                    (click)="toggelSection()"
                    *ngIf="isReact"
                    nbButton
                    ghost
                    status=" success"
                    size="medium"
                    class="float-right btn-like"
                  >
                    <nb-icon icon="heart" status="primary"></nb-icon>
                  </button>
                  <button
                    (click)="changeReactState(false)"
                    (click)="toggelSection()"
                    *ngIf="!isReact"
                    nbButton
                    ghost
                    status=" success"
                    size="medium"
                    class="float-right btn-like"
                  >
                    <nb-icon icon="heart-outline" status="primary"></nb-icon>
                  </button>

                  <p class="count-like">{{ reactCount }}</p>
                  <button
                    nbButton
                    ghost
                    status="info"
                    size="medium"
                    class="float-right btn-com"
                  >
                    <nb-icon icon="email"></nb-icon>
                  </button>
                  <p class="count-com">{{ commCount }}</p>
                </div>
              </div>
            </div>
            <div class="media-body">
              <span id="postTitle"> {{ item.title }} </span>
              <hr />
              <div class="card-fotter-container">
                <button
                  nbButton
                  status="primary"
                  outline
                  size="small"
                  class="view-btn"
                >
                  {{ viewMore ? 'More' : 'Less' }}
                </button>
                <button
                  nbButton
                  status="primary"
                  size="small"
                  class="edit-btn"
                  [hidden]="!isLogUser"
                  (click)="updateForm()"
                  (click)="toggelSection()"
                >
                  {{ !isEdit ? 'Edit' : 'Cancel' }}
                </button>
                <button
                  nbButton
                  status="danger"
                  size="small"
                  class="end-btn"
                  [hidden]="!isLogUser"
                  (click)="endOrViewPost()"
                  (click)="toggelSection()"
                >
                  {{ !isEnd ? 'End' : 'Restart' }}
                </button>
                <button
                  nbButton
                  outline
                  status="danger"
                  size="small"
                  class="delete-btn"
                  [hidden]="!isLogUser"
                  [nbPopover]="confirmDeleteSecton"
                  nbPopoverPlacement="bottom"
                  (click)="toggelSection()"
                >
                  Delete
                </button>

                <ng-template #confirmDeleteSecton>
                  <nb-card style="margin-bottom: -10%;">
                    <nb-card-body>
                      Are you sure you wish to delete this post?
                      <button
                        nbButton
                        shape="round"
                        status="danger"
                        size="tiny"
                        [hidden]="!isLogUser"
                        (click)="deletePost()"
                        style="margin-left: 10px;"
                      >
                        yes
                      </button>
                      <button
                        nbButton
                        shape="round"
                        status="danger"
                        size="tiny"
                        [hidden]="!isLogUser"
                        style="margin-left: 10px;"
                        (click)="hidePopover()"
                      >
                        No
                      </button>
                    </nb-card-body>
                  </nb-card>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div *ngIf="item.images != null">
          <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
          <hr *ngIf="item.description != ''" />
        </div>

        <p class="text-dark" id="postDesc">{{ item.description }}</p>
        <hr />

        <form
          *ngIf="!isComment"
          [formGroup]="commentForm"
          novalidate
          (ngSubmit)="onCreate()"
          #commform="ngForm"
        >
          <div class="add-comment-container">
            <textarea
              class="form-control"
              formControlName="comment"
              nbInput
              fullWidth
              required
              placeholder="Join the discussion..."
              status="primary"
              style="height: 40px;"
              [disabled]="isEnd"
            >
            </textarea>
            <button
              nbButton
              status="primary"
              outline
              size="small"
              class="float-right comment-btn"
              size="small"
              [disabled]="isEnd"
            >
              Comment
            </button>
          </div>
        </form>

        <hr />
        <div class="comment-sec" *ngIf="!isEdit">
          <p class="comment-title" *ngIf="commCount != 0">Comments</p>
          <div *ngFor="let comment of comments">
            <app-comment
              [comment]="comment"
              [postId]="postId"
              (isComment)="isComment = $event"
              (changeCommentCount)="getCommentCount()"
            ></app-comment>
          </div>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
  <app-create-form
    *ngIf="isEdit"
    [postId]="postId"
    [createOrUpdate]="createOrUpdate"
    [createDate]="createDate"
  >
  </app-create-form>
</div>
