<div class="main-container">
  <div class="user-profile">
    <app-user-profile-card
      (changePost)="changeDisplayPost($event)"
    ></app-user-profile-card>
  </div>

  <div class="list-container">
    <div class="form-container" #item>
      <app-create-form
        *ngIf="isCreate"
        [postId]="postId"
        (hideForm)="toggleForm($event)"
        [createOrUpdate]="createOrUpdate"
      ></app-create-form>
    </div>

    <div class="post-contaner">
      <app-list-forum [postType]="postType"></app-list-forum>
    </div>
  </div>

  <div class="side-bar-continer">
    <button class="float-right" nbButton status="primary" (click)="createPost()" id="add-btn">
      {{ !isCreate ? 'Create New' : 'Cancel' }}
    </button>
  </div>
</div>
