<div class="row">
  <div class="col-sm-3">
    <app-user-profile-card
      (showMypostOnly)="changePostType($event)"
    ></app-user-profile-card>
  </div>
  <div class="col-sm-9">
    <button nbButton status="primary" (click)="createPost()" id="add-btn">
      {{ !isCreate ? 'Create New' : 'Cancel' }}
    </button>
    <br />
    <br />
    <div #item>
      <app-create-form
        *ngIf="isCreate"
        [postId]="postId"
        (hideForm)="toggleForm($event)"
        [createOrUpdate]="createOrUpdate"
      ></app-create-form>
    </div>

    <app-list-forum [showMyPost]="showMyPost"></app-list-forum>
  </div>
</div>
